/* .IcereamPreview {
  
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  justify-content: center;
}
.icecream {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin: 5px;
  border-radius: 15px;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}
 .ingredients {
  width: 200px;
  height: 400px;
  border-radius: 100%;
  position: relative;
}
.price {
  background-color: rgb(255, 152, 133);
  max-width: 250px;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 32px;
  padding: 5px;
  margin-bottom: 2rem;
  border-radius: 20px;
}
@media (max-width: 1020px) {
  .IcereamPreview {
    max-width: 80%;
    width: 100%;
    margin: auto;
    margin-bottom: 2rem;
  }
  .price {
    margin-top: 1rem;
  }
}  */

.IcecreamPreview {
  width: 650px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.icecream {
  display: flex;
  flex-wrap: wrap;
  background-color: #f6fd97;
  border-radius: 40px;
}

.ingredients {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
}
.price {
  max-width: 250px;
  margin: 0 auto;
  text-align: center;
  color: wheat;
  font-size: 32px;
  padding: 5px;
  margin-bottom: 2rem;
  border-radius: 10px;
}

@media (max-width: 660px) {
  .IcecreamPreview {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
  }
  .price {
    margin-top: 1rem;
  }
}