.Checkout {
    width: 420px;
    margin: 1.7rem 0;
    padding: 1rem;
  }
  @media (max-width: 725px) {
    .IcecreamBuilder {
     display: flex;
     flex-wrap: wrap;
     margin: 0 auto;
    }
  }
