
.ingredient{
    display: flex;
}  
.Order{
    color: rgb(255, 152, 133);
    margin: 2rem;
    padding: 1rem;
    width: 15rem;
    font-size: 20px;
    box-shadow: 0 0 20px yellow;
    background-color: rgb(247, 245, 161);
  }