
.ingredient{
    display: flex;
}  
.Order{
    color: rgb(162, 215, 231);
    margin: 2rem;
    padding: 1rem;
    width: 15rem;
    font-size: 20px;
    box-shadow: 0 0 20px rgb(162, 216, 233);
    background-color: rgb(255, 255, 255);
  }