
.IcecreamControls{
    background-color: rgb(246, 253, 151); 
    width: 300px;
    height: 600px;
    padding: 1rem;
    border-radius: 50px;
    text-align: center;

}
@media(max-width:1020px){
    .IcecreamControls{
        max-width: 80%;
        margin: 0 auto;
    }
}
