.IcecreamIngredient {
    position: absolute;
  }
  .Icecream{
    position: relative;
    top: 50px;
    left: -160px;
    border-left: 190px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 450px solid transparent;
    width: 0;
    height: 0;
    transform: rotate(
-20deg
);
}