.ChecoutForm {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5rem;
  justify-content: center;
  text-align: center;
  color: white;
}
  .ChecoutForm > div {
    flex: 0 0 100%;
    padding: .2rem 1rem;
  }
  .ChecoutForm > div > label::after {
    content: ":";
    margin-right: 1rem;
  }
  .ChecoutForm > div > input {
    border-radius: 1rem;
    border: 1px solid lightgray;
    font-size: 1.5rem;
    padding: 0 1rem;
  }
  .ChecoutForm > div > input:focus {
    outline: none;
    border-color: darkgray;
  }
  @media (max-width: 725px) {
    .ChecoutForm {
     display: flex;
     flex-wrap: wrap;
     margin: 0 auto;
    }
  }

  button {
    border: 0;
    margin: 0 1rem;
    padding: 0 1rem;
    border-radius: 1rem;
    background-color: rgb(172, 219, 233);
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
  }
  button:not(:disabled):hover {
    background-color: rgba(35, 167, 190, 0.589);
  }
  button:focus {
    outline: none;
  }
  button:disabled {
    opacity: .5;
  }
  